.EtherspotSettingsModal .Modal-content {
  width: 38rem;
  font-size: var(--font-base);
}

.EtherspotSettingsModal .Modal-content .feature-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 15px;
}

.EtherspotSettingsModal .Modal-content p.secondary {
  color: #a1a3c2;
}

.EtherspotSettingsModal .Modal-content p.secondary span {
  color: #fff;
}

.EtherspotSettingsModal .Modal-content .wallet-address {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.EtherspotSettingsModal .Modal-content .wallet-address:active {
  opacity: 0.7;
}

.EtherspotSettingsModal .Tab {
  margin-bottom: 1.05rem;
}
